.CreateTodoButton{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3432fe;
    color: #fafafa;
    border: none;
    cursor: pointer;
    font-weight: 400;
    height: 56px;
    width: 56px;
    z-index: 1;
    

}

.icon{
    font-size: 36px;
    transform:  rotate(0);
    transition: .4s ease;
}

.icon:hover{
    transform: rotate(224deg);
}   