body {
  margin: 0;
  padding: 0;
  background: #181f3a;
  color: #FAFAFA;
  font-family: 'Montserrat',arial,Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  width: 100vh;

}