.TodoSearch{
    padding: 0;
    background: #04395e;
    height: 54px;
    border: #fafafa 1px solid;
    color: #fafafa;
    font-size: 24px;
    text-align: center;
    font-family: 'Monserrat';
    font-weight: 400;
    width: calc(100% - 25%);
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }

  .TodoSearch:focus {
    outline-color: #61DAFA;
  }